{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
    {% if validlink %}
    <center>
        <h1 class="display-4">Change Password</h1>
    </center>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-10 offset-1">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <div class="col-10 offset-1">
                        {{ field | as_crispy_field }}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-12 offset-1">
                        <button type="submit" class="btn btn-primary float-right">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>

    </div>
    {% endif %}

</div>



{% endblock %}