{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
    <center>
        <h1 class="display-4">Password Reset</h1>
    </center>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-10 offset-1">
            <div class="text-primary">
                <h5 class="mt-2 mb-2">Forgot Your Password? Just enter your email and we will help you get back on
                    track.
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-10 offset-1">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <div class="col-sm-12">
                        {{ field | as_crispy_field }}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}